:host {
  display: block;
}
/* Modal Wrapper */
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Modal styles */
.modal-wrapper .modal {
  background: var(--white);
  width: 600px;
  height: auto;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Modal Header */

.modal-wrapper .modal .header {
  padding: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mono-05);
}

.modal-wrapper .modal .header h6 {
  font-size: 16px;
  margin: 0;
  line-height: 1;
}

.modal-wrapper .modal .header .close {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.modal-wrapper .modal .header .close:hover {
  background: var(--mono-10);
}

/* Modal Body */

.modal-wrapper .modal .body {
  padding: 16px;
  font-size: 14px;
  line-height: 21px;
  max-height: 320px;
  height: auto;
  overflow-y: auto;
  color: var(--mono-50);
}

/* Modal Footer */

.modal-wrapper .modal .footer {
  border-top: 1px solid var(--mono-05);
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-wrapper .modal .footer apollo-button {
  margin: 0 6px;
}

.modal-wrapper .modal .footer apollo-button:first-child {
  margin: 0 6px 0px 0px;
}
.modal-wrapper .modal .footer apollo-button:last-child {
  margin: 0 0px 0px 6px;
}

/* Modal Open Styles */
.isopen {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.isopen .modal {
  transform: translate(-50%, 90px);
}

/* Mobile Styles */
@media (max-width: 600px) {
  .modal-wrapper .modal {
    width: 100%;
    bottom: 0;
    transform: translate(-50%, 100%);
    opacity: 1;
  }
  .isopen .modal {
    transform: translate(-50%, 0);
  }
}
