:host {
  display: block;
}

.btn {
  background: var(--mono-10);
  color: var(--mono-70);
  border-radius: 4px;
  border: none;
  padding: 0 12px;
  height: 38px;
  outline: none;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.btn.primary {
  background: var(--primary-50);
  color: var(--white);
}

.btn.primary:hover {
  background: var(--primary-70);
}

.btn.secondary {
  background: var(--mono-50);
  color: var(--white);
}

.btn.secondary:hover {
  background: var(--mono-70);
}

.btn.tertiary {
  background: var(--primary-05);
  color: var(--primary-50);
}

.btn.tertiary:hover {
  color: var(--primary-70);
  background: var(--primary-10);
}

.btn.warning {
  background: var(--warning-50);
  color: var(--void);
}

.btn.warning:hover {
  background: var(--warning-70);
}

.btn.danger {
  background: var(--danger-50);
  color: var(--white);
}

.btn.danger:hover {
  background: var(--danger-70);
}
